/* Tags */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

svg {
  bottom: -4px;
  height: 10vw;
  position: relative;
  width: 100%;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
}

input {
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.50);
  margin: 1rem auto;
  padding: 1rem 1rem;
  width: 90%;
}

li {
  padding: 0.5rem 0;
}

li a {
  color: white;
  text-decoration: none;
}

a {
  font-family: 'Open Sans', sans-serif;
}

/* Header section */
.header {
  background: rgb(40, 35, 133);
  background: linear-gradient(155deg, rgba(40, 35, 133, 1) 40%, rgba(187, 184, 250, 1) 100%);
  position: relative;
  text-align: center;
}

.header-firstLine {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  padding: 1rem;
  padding-top: 2rem;
}

.logo-img {
  align-self: center;
  width: 30%;
}

.header-img {
  margin-bottom: 2rem;
  width: 60%;
}

.header h1 {
  color: white;
  font-size: 1.5rem;
  padding: 0 1rem;
}

/* Button styles */
.btn {
  border-radius: 2px;
  color: #ffffff;
  text-decoration: none;
}

.btn-small {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.5rem 0.8rem;
}

.btn-big {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  margin: 1rem auto 3rem;
  padding: 1rem 0;
  text-align: center;
  width: 50%;
}

.btn-large {
  display: inline-block;
  font-weight: 700;
  padding: 1rem 0;
  width: 100%;
}

.btn-green {
  background: #05D69B;
}

.btn-green:hover {
  background: #5de8c1;
}

/* Feature section */
.features {
  margin: 7rem 2rem;
}

.feauture {
  margin-top: 3rem;
}

.features-img {
  display: block;
  margin: 5rem auto;
  width: 70%;
}

.features h1 {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}

.features h2 {
  font-size: 1rem;
}

.features p {
  color: #808080;
  font-size: 0.85rem;
}

.features-cta {
  margin-top: 5rem;
  text-align: center;
}

.features-cta p {
  color: #282385;
  line-height: 1.5;
}

/* Footer section */
.footer {
  background: #070439;
  color: white;
  margin-top: 10rem;
}

.trapezoid-footer {
  bottom: 0;
  margin-bottom: 7rem;
}

.footer-contacts {
  margin-bottom: 4rem;
}

.contact-detail p {
  display: inline-block;
  margin-left: 1rem;
}

.footer-logo {
  margin-bottom: 3rem;
  width: 60%;
}

.footer-container {
  padding: 2rem;
}

.footer-cta {
  text-align: right;
}

.footer-cta p {
  line-height: 1.5;
  text-align: center;
}

.footer-cta input {
  margin-bottom: 0;
}

.footer-list {
  list-style-type: none;
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
}

/* Media queries */
@media (min-width: 1000px) {
  .header-main {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .btn-small {
    font-size: 1rem;
  }

  .logo-img {
    width: 10%;
    margin-left: 3rem;
  }

  .header-signIn {
    margin-right: 3rem;
  }

  .header-img {
    width: 40%;
  }

  .header-text {
    text-align: left;
    width: 40%;
  }

  .header h1 {
    font-size: 2.3rem;
    line-height: 1.5;
    padding-left: 0;
  }

  .features-grid-container {
    display: grid;
    justify-content: center;
    grid-column-gap: 2rem;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 40% 40%;
  }

  .features-img {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .features p {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .features h1 {
    font-size: 2rem;
  }

  .features h2 {
    font-size: 1.5rem;
  }

  .feauture {
    padding-right: 3rem;
  }

  .features-cta {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .btn-large {
    margin-left: 2rem;
    width: 20%;
  }

  .cta-input {
    width: 40%;
  }

  .footer-logo {
    margin: 1rem 0;
    width: 40%;
  }

  .footer-container {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: 25% 45% 20%;
    grid-template-areas:
      "contacts nav cta";
  }

  .footer-contacts {
    grid-area: contacts;
    border-right: 1px solid white;
    margin-right: 3rem;
    margin-bottom: 0;
    height: 100%;
  }

  .footer-nav {
    /* grid-column-start: 2;
    grid-column-end: 2; */
    border-right: 1px solid white;
    grid-area: nav;
    display: grid;
    justify-content: center;
    grid-column-gap: 1rem;
    grid-template-columns: 30% 30% 30%;
    margin-right: 3rem;
  }

  .footer-cta {
    /* grid-column-start: 3;
    grid-column-end: 4; */
    grid-area: cta;
  }

  .footer-cta p {
    text-align: left;
  }
}
